/* =========================
   VARIABLES DE COLOR
========================= */
:root {
    --primary: #6366f1;      /* violeta moderno */
    --secondary: #22c55e;    /* verde éxito */
    --warning: #f59e0b;      /* amarillo */
    --background: #f4f6fb;   /* fondo app */
    --card-bg: #ffffff;
    --text-main: #1f2937;
    --text-muted: #6b7280;
    --border-radius: 16px;
    --shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* =========================
   RESERT BÁSICO
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: linear-gradient(135 deg, #eef2ff, #fdf2f8);
    color : var(--text-main);
}

/* =========================
   contenedores
========================= */

.app-container {
    min-height: 100vh;
    padding: 2rem, 1rem
}

.main-content {
    max-width: 1100px;
    margin: 0 auto;
}

/* =========================
   header
========================= */

.app-header {
    margin-bottom: 2rem;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-icon {
    background: var(--primary);
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: var(--shadow);
}

.app-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.app-subtitle {
    color: var(--text-muted)

}

